.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: 1px solid #e6e6e6;
}

.navbar__title {
  font-size: 30px;
  color: #fff;
}

.navbar__links {
  display: flex;
  align-items: center;
}

.navbar__links > a {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  padding: 0 15px;
}
