.search-top {
  width: 100%;
}

.search {
  display: flex;
  justify-content: center;
  margin-top: 18px;
  width: 100%;
}

.search-result {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}
