.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.movies {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.movie__img {
  max-height: 320px;
  max-width: 250px;
  transition: all 300ms ease;
}

.movie__link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #ffffff;
}

.movie__selected--top {
  padding: 0 24px;
  margin-bottom: 8px;
  font-size: 32px;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin: 0;
}

.movie__selected--title--top {
  margin-left: 10px;
  margin-bottom: 0;
}

.movie__selected--img {
  max-height: 500px;
  width: auto;
  max-width: 100%;
}

.movie__selected--description {
  width: 60%;
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
